@model MuseWave.App.Pages.UserModel

<div>
    <h3>Your Roles</h3>
    @if (Model.Roles.Any())
    {
        <ul>
            @foreach (var role in Model.Roles)
            {
                <li>@role</li>
            }
        </ul>
    }
    else
    {
        <p>You don't have any roles.</p>
    }

    @if (Model.IsArtist || Model.IsAdmin)
    {
        <div class="d-inline-flex p-2">
        <h3>Your Albums</h3>
        <button class="btn btn-primary" style="margin-left: 12px" onclick="location.href='/CreateAlbum'"><i class="bi bi-plus-square-fill"></i> Add</button></div>
        @if (Model.Albums.Any())
        {
            <div class="card-deck">
                @foreach (var album in Model.Albums)
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/albums/@album.Title" class="btn btn-primary">@album.Title</a>
                            </h5>
                            <form method="post" asp-page-handler="DeleteAlbum" asp-route-id="@album.Id">
                                <button class="btn btn-primary" type="submit"><i class="bi bi-trash3-fill"></i>Delete</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>You don't have any albums.</p>
        }
        <div class="d-inline-flex p-2">
            <h3>Your Songs</h3>
            <button class="btn btn-primary" style="margin-left: 12px" onclick="location.href='/CreateSong'"><i class="bi bi-plus-square-fill"></i> Add</button></div>
            @if (Model.Songs.Any())
            {
                <ul>
                    @foreach (var song in Model.Songs)
                    {
                        <li>
                            <div>
                                @song.Title
                                <audio controls>
                                    <source src="@song.AudioFile" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                            <form method="post" asp-page-handler="DeleteSong" asp-route-id="@song.Id">
                                <button class="btn btn-primary" type="submit"><i class="bi bi-trash3-fill"></i>Delete</button>
                            </form>
                        </li>
                    }
        
                </ul>
        }
        else
        {
            <p>You don't have any songs.</p>
        }
        
    }
    else if (!Model.appUser.HasRequestedRole)
    {
        <button onclick="location.href='/RequestArtistRole'">Request Artist Role</button>
    }
    
    @if (Model.IsAdmin)
    {
        <h3>Artist Role Requests</h3>
        @if (Model.ArtistRequests.Any())
        {
            <ul>
                @foreach (var request in Model.ArtistRequests)
                {
                    <li>
                        @request.UserName
                        <div style="display: flex; gap: 10px;">
                            <form method="post" asp-page-handler="Approve" asp-route-id="@request.Id">
                                <button class="btn btn-primary" type="submit">Approve</button>
                            </form>
                            <form method="post" asp-page-handler="Decline" asp-route-id="@request.Id">
                                <button class="btn btn-primary" type="submit">Decline</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No artist role requests.</p>
        }
    }
</div>
