@page "/albums/{id}"
@model MuseWave.App.Pages.AlbumPage

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Album?.Title</title>
</head>
<body>
<div>
    <h1>@Model.Album?.Title</h1>
    <p>Genre: @Model.Album?.Genre</p>
    <p>Release Date: @Model.Album?.ReleaseDate.ToString("yyyy-MM-dd")</p>
    <img src="/@Model.Album.CoverImage" alt="Cover Image" />
    
    <br />
    
    <button class="btn btn-success" onclick="location.href='@Url.Page("/CreateSong", new { albumId = Model.Album?.Id })'">
        <i class="bi bi-plus-square-fill"></i> Add
    </button>
</div>

@if (Model.Songs != null && Model.Songs.Any())
{
    <div>
        <h2>Songs</h2>
        <ul>
            @foreach (var song in Model.Songs)
            {
                <li>
                    <p>Title: @song.Title</p>
                    <p>Genre: @song.Genre</p>
                    <p>Release Date: @song.ReleaseDate.ToString("yyyy-MM-dd")</p>
                    <audio controls>
                        <source src="/@song.AudioFile" type="audio/mpeg" onerror="console.error('Error loading audio file:', this.src)">
                        Your browser does not support the audio element.
                    </audio>
                </li>
            }
        </ul>
    </div>
}
else
{
    <p>No songs available for this album.</p>
}
</body>
</html>