@page
@using Microsoft.AspNetCore.Identity
@using MuseWave.Identity.Models
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to MuseWave</h1>
        @if (!SignInManager.IsSignedIn(User))
        {
            <p>Login and listen to your favorite music!</p>
        }
    </div>

    <div class="row">
        

        <div class="col-md-4">
            <h2>Discover Albums</h2>
            @foreach (var album in Model.RandomAlbums)
            {
                <a href="/albums/@album.Id" class="card">
                    <img class="card-img-top" src="@album.CoverImage">
                    <div class="card-body">
                        <h5 class="card-title">@album.Title</h5>
                    </div>
                </a>
            }
        </div>

        <div class="col-md-4">
            <h2>Discover Songs</h2>
            @foreach (var song in Model.RandomSongs)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-page="/Song" asp-route-id="@song.Id">@song.Title</a>
                        </h5>
                        <audio controls>
                            <source src="@song.AudioFile" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            }
        </div>
        
        <div class="col-md-4">
            <h2>Discover Artists</h2>
            @foreach (var user in Model.RandomUsers)
            {
                <a href="/artists/@user.Id" class="card">
                    <div class="card-body">
                        <h5 class="card-title">@user.UserName</h5>
                    </div>
                </a>
            }
        </div>
    </div>
</div>